.gtp3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.gtp3__navbarlinks {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gtp3__navbarlinks_technew {
    margin-right: 2rem;
}
/*.gtp3__navbarlinks_technew img  {
    width: 72px;
    height: 16px;  
}*/
.gtp3__navbarlinks_container {
    display: flex;
    flex-direction: row;
}
.gtp3__navbarlinks_container p {
    color: #fff;
    font-family: 'montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;

    
    cursor: pointer;
}
.gtp3__navbarlinks_container .p1{
    margin-left: 20rem;
    margin-right: 2rem;
}
.gtp3__navbarlinks_container .p2 {
    color: #4393D8;
}
@media screen and (max-width: 500px){
    .gtp3__navbar{
        flex-direction: column;
    }
}
    /*.gtp3__navbarlinks_technew {
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }
    .gtp3__navbarlinks_technew svg  {
        width: 72px;
        height: 16px;
        margin-left: 2rem;
        justify-content: center;
        align-items: center;
    }
    .gtp3__navbarlinks_container .p1{
        margin-left: 0;
        margin-right: 2rem;
    }*/

