* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
header, .gtp3__navbar {
    background: var(--color-bg);
    /*background: url("./assests/Hero.png");
    background-repeat: no-repeat;*/
}
a {
    color: unset;
    text-decoration: none;
}
.section_padding {
    padding: 4rem 6rem;
}
.section_margin {
    margin: 4rem 6rem;
}
@media screen and (max-width: 700px) {
    .section_padding {
        padding: 4rem 6rem;
    }
    .section_margin {
        margin: 4rem 6rem;
    }
}
@media screen and (max-width: 550px) {
    .section_padding {
        padding: 4rem 2rem;
    }
    .section_margin {
        margin: 4rem 2rem;
    }
    .gtp3__navbarlinks_container .p1{
        margin-left: 5rem;
        margin-right: 2rem;
    }
}
