@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


:root {
    --font-family: 'Montserrat', sans-serif;

    --color-bg: #072951;
    --color-testimonial: #4393D8;
    --color-footer: #244f80;
    --color-text: #ffff;
}